/* General styles */
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #1e3c72, #2a5298);
  color: #fff;
  margin: 0;
  padding: 0;
}

.game-container {
  text-align: center;
  padding: 30px;
}

.game-header {
  margin-bottom: 40px;
}

h1 {
  font-size: 2.8em;
  margin: 0;
  font-weight: bold;
  color: #fff;
}

.instructions-button {
  background-color: #ff6f61;
  color: #fff;
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.instructions-button:hover {
  background-color: #d90429;
}

/* Status container */
.status-container {
  margin-bottom: 20px;
}

.status {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #d4e4f2;
}

.shots-info p {
  font-size: 1.2em;
  margin: 5px 0;
  color: #d4e4f2;
}

/* Notifications */
.notification {
  color: #ffcc00;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
}

/* Restart Button */
.reset-button {
  background-color: #ff6f61;
  color: #fff;
  font-size: 1.2em;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.reset-button:hover {
  background-color: #d90429;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal Container */
.modal {
  background-color: #1e3c72;
  padding: 40px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.modal h2 {
  font-size: 2.4em;
  margin-bottom: 20px;
  color: #ffcc00;
}

.modal p {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.modal ul {
  list-style-type: none;
  padding: 0;
}

.modal li {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.close-modal-button {
  background-color: #ff6f61;
  color: #fff;
  font-size: 1.2em;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.close-modal-button:hover {
  background-color: #d90429;
}


.boards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.board-container {
  margin: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 40px); /* Create 10 columns */
  grid-template-rows: repeat(10, 40px); /* Create 10 rows */
  gap: 2px;
  justify-content: center;
  margin: auto;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #3a80ba;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #fff;
}

.cell.ship {
  background-color: #2d6a4f;
}

.cell.hit {
  background-color: #d90429;
}

.cell.miss {
  background-color: #3a80ba;
  opacity: 0.5;
}